html {
  position: relative;
  min-height: 100%;
  width: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  /* Set the fixed height of the footer here */
  height: 100px;
}