# Exclude Python Virtual Env
venv/

# Exclude PyCharm project settings
.idea/

# Exclude Compiled Photon firmware binaries
*.bin

# Exclude 3D Printer buildplate files
*.thing

# Exclude Sketchup Backup Files
*.skb

#Exclude Altium  Design files
blum.bike_altium/